$primary-color: #fff;
$secondary-color: #f2f1f4;
$text-color: #5d5d5d;
$accent-color: #4ca3dd;

@mixin easeOutTransition {
  transition: all 0.5s ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
}

header {
  background-color: $primary-color;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo a {
    font-size: 60px;
    color: $accent-color;

    &:hover {
      color: $text-color;
      @include easeOutTransition();
    }
  }

  nav li {
    display: inline;
    font-size: 18px;
    margin-right: 60px;

    a:hover {
      color: $accent-color;
      @include easeOutTransition();
    }
  }
}

@media screen and (max-width: 720px) {
  header nav li {
    display: block;
    margin-right: 30px;
    margin-top: 10px;
  }
}

/* Hero Section Styles */

.hero {
  background-color: $primary-color;
  max-width: 90%;
  margin: 0 auto;
  padding: 80px 0;

  h1,
  h2 {
    font-weight: 400;
  }

  h1 {
    font-size: 46px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 100px;
    max-width: 80%;

    a {
      color: $accent-color;

      &:hover {
        color: $text-color;
        @include easeOutTransition();
      }
    }
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  i.fab {
    font-size: 60px;
    margin-right: 30px;

    .hidden {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 720px) {
  .hero {
    padding: 30px 0;

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 40px;
      max-width: 85%;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 20px;
    }

    i.fab {
      font-size: 45px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 640px) {
  .hero {
    padding: 20px 0;

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 22px;
      margin-bottom: 30px;
      max-width: 90%;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 15px;
    }

    i.fab {
      margin-bottom: 20px;
    }
  }
}

/* Portfolio Section Styles */

#portfolio {
  background-color: $secondary-color;
  text-align: center;
  padding: 120px 0;

  h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
}

.projects-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .project {
    width: calc(calc(100% - 50px) / 3);
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: $accent-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    .project-img {
      max-width: 75%;
      height: auto;
      margin: 20px 0;
    }

    .project-name {
      padding: 15px;
      background-color: $primary-color;
      font-size: 16px;
      text-transform: uppercase;
    }

    & > div {
      position: relative;
      height: 100%;

      .img-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($accent-color, 0.9);
        @include easeOutTransition();

        div {
          display: block;
        }
      }
    }

    .overlay div {
      display: none;
      width: 70%;
      margin-bottom: 15px;
      padding: 10px;
      font-size: 20px;
      background-color: $primary-color;

      a:hover {
        color: $accent-color;
        @include easeOutTransition();
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 1080px) and (min-width: 601px) {
  #portfolio {
    padding: 80px 0;

    h2 {
      font-size: 27px;
      padding-bottom: 30px;
    }
  }

  .projects-container {
    flex-wrap: wrap;

    .project {
      width: calc(calc(100% - 50px) / 2);

      &:nth-of-type(2n) {
        margin-right: 0;
      }

      &:nth-of-type(3n) {
        margin-right: 25px;
      }

      .overlay div {
        font-size: 16px;
        padding: 6px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #portfolio {
    padding: 60px 0;

    h2 {
      font-size: 25px;
      padding-bottom: 25px;
    }
  }

  .projects-container {
    flex-wrap: wrap;

    .project {
      width: 100%;
      margin-right: 0;

      .overlay div {
        font-size: 16px;
        padding: 10px;
      }
    }
  }
}

/* Contact Section Styles */

.contact {
  background-color: $primary-color;
  max-width: 90%;
  margin: 0 auto;
  padding: 80px 0;

  h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;

    a {
      color: $accent-color;

      &:hover {
        color: $text-color;
        @include easeOutTransition();
      }
    }
  }

  .contacts {
    font-size: 36px;

    a {
      margin-right: 40px;

      &:hover {
        color: $accent-color;
        @include easeOutTransition();
      }
    }
  }
}

@media screen and (max-width: 1080px) and (min-width: 601px) {
  .contact {
    padding: 60px 0;

    h2 {
      font-size: 30px;
      margin-bottom: 35px;
    }

    .contacts {
      font-size: 26px;

      a {
        margin-right: 35px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 30px 0;

    h2 {
      font-size: 22px;
      margin-bottom: 30px;
    }

    .contacts {
      font-size: 20px;

      a {
        margin-right: 20px;
      }
    }
  }
}

footer {
  background-color: $primary-color;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;

  small {
    font-size: 12px;
  }
}
